{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery­‐ui.css" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="{% static "style/base.css" %}" />
  	<title>{{ titlehead}}</title>
  </head>
<body>
  <h1>{{ pagetitle }}</h1>
{% block content %}
{% endblock %}
</body>
</html>


