{% extends 'basepage.html' %}
{% block content %}

<span vocab="http://schema.org" typeof="GolfCourse">
  <h1><span property="name">{{field.field_name}}</span></h1>
  <div property="address" typeof="PostalAddress">
    <h2> Adreça i contacte: </h2>
    <span property="streetAddress">FieldStreet: {{field.street}}<br></span>
    <span property="addressLocality">City: {{field.city}}</span><br>
    <span property="addressRegion">FieldState: {{field.stateOrProvince}}</span><br>
    <span property="postalCode">FieldZipCode: {{field.zipCode}}</span><br>
    <span property="telephone">FieldTelephonenumber: {{field.telephone}}</span><br>
  </div>
  <div property="additionalType" typeof="URL">
    <span property="url">FieldURL: {{field.url}}</span><br>
  </div>
  <p>
    <h2> Especificacions tècniques: </h2>
    Field Code: {{field.FieldCode}}<br>
    Field_holes: {{field.number_of_holes}}<br>
    FieldPar: {{field.par}}<br>
  </p>

  <p>
  <ul>
  <table border=1 cellpadding=10>
    <th>Forat</th>
    {%for hole in field.holes.all %}
      <th>{{hole.hole_number}}</th>
    {%endfor%}

  <tr>
    <td><strong>Metres</strong></td>
      {% for hole in field.holes.all %}
        <td>{{hole.meters}}</td>
      {%endfor%}
  </tr>

  <tr>
    <td><strong>Handicap</strong></td>
      {% for hole in field.holes.all %}
        <td>{{hole.handicap_hole}}</td>
      {%endfor%}
  </tr>

  </table>
  </ul>
</p>
{% endblock %}