{% extends 'basepage.html' %}
{% block content %}

<span vocab="http://schema.org" typeof="GolfCourse">
  <h1><span property="name">{{field.field_name}}</span></h1>
  <div property="address" typeof="PostalAddress">
    <h2> Adreça i contacte: </h2>
    <span property="streetAddress">Carrer: {{field.street}}<br></span>
    <span property="addressLocality">Ciutat: {{field.city}}</span><br>
    <span property="addressRegion">País: {{field.stateOrProvince}}</span><br>
    <span property="postalCode">Codi postal: {{field.zipCode}}</span><br>
    <span property="telephone">Telèfon: {{field.telephone}}</span><br>
    URL: {{field.url}}<br>
  </div>
  <div>
    <h2> Especificacions tècniques: </h2>
    Codi del camp: {{field.FieldCode}}<br>
    Número de forats: {{field.number_of_holes}}<br>
    Par: {{field.par}}<br>
  </div>

  <div>
  <ul>
  <table border=1 cellpadding=10>
    <th>Forat</th>
    {%for hole in field.holes.all %}
      <th>{{hole.hole_number}}</th>
    {%endfor%}

  <tr>
    <td><strong>Metres</strong></td>
      {% for hole in field.holes.all %}
        <td>{{hole.meters}}</td>
      {%endfor%}
  </tr>

  <tr>
    <td><strong>Handicap</strong></td>
      {% for hole in field.holes.all %}
        <td>{{hole.handicap_hole}}</td>
      {%endfor%}
  </tr>

  </table>
  </ul>
</div>
{% endblock %}