{% extends 'basepage.html' %}
{% block content %}

  <h1>{{field.field_name}}</h1>
  <p>
    Field: {{field.FieldCode}}<br>
    FieldState: {{field.stateOrProvince}}<br>
    City: {{field.city}}<br>
    FieldStreet: {{field.street}}<br>
    FieldZipCode: {{field.zipCode}}<br>
    FieldTelephonenumber: {{field.telephone}}<br>
    FieldURL: {{field.url}}<br>
    Field_holes: {{field.number_of_holes}}<br>
    FieldPar: {{field.par}}<br>
  </p>
  <p>

  <ul>
  <table border=1 cellpadding=10>


    <th>Forat</th>
    {%for hole in field.holes.all %}
      <th>{{hole.hole_number}}</th>
    {%endfor%}

  <tr>
    <td><strong>Metres</strong></td>
      {% for hole in field.holes.all %}
        <td>{{hole.meters}}</td>
      {%endfor%}
  </tr>

  <tr>
    <td><strong>Handicap</strong></td>
      {% for hole in field.holes.all %}
        <td>{{{hole.handicap_hole}}</td>
      {%endfor%}
  </tr>

  </table>
  </ul>
</p>
{% endblock %}


