{% extends "basepage.html" %}
{% block content %}
{% if user.username %}
<p>Benvingut {{ user.username }},
la teva aplicació de Pitch And Putt esta a punt!
Ja pots registrar els teus resultats!
  <li>
    <a href="{% url 'Player_list' %}"> {{'Jugadors'}}</a>
  </li>
    <li>
    <a href="{% url 'Field_list' %}"> {{'Camps de Pitch And Putt'}}</a>
  </li>
    <li>
    <a href="{% url 'rules' %}"> {{'Normes'}}</a>
  </li>
</p>
{% else %}
<p>Benvingut anònim:
T'has de  <a href="/login/">registrar</a>
per guardar els teus resultats.</p>
{% endif %}
{% endblock %}
