{% extends "basepage.html" %}
{% block content %}
{% if user.username %}
<p>Welcome {{ user.username }},
your Pitch and Putt Application is ready to work!
Now you can register all your results!
  <li>
    <a href="{% url 'Player_list' %}"> {{Jugadors}}</a>
  </li>
    <li>
    <a href="{% url 'Field_list' %}"> {{Camps de Pitch%Putt}}</a>
  </li>
    <li>
    <a href="{% url 'rules' %}"> {{Normes}}</a>
  </li>
</p>
{% else %}
<p>Welcome anonymous:
Must  <a href="/login/">sign in</a>
to register your results.</p>
{% endif %}
{% endblock %}
