{% extends 'basepage.html' %}
{% block content %}

  <p>
    Match number: {{match.match_number}}<br>
    Player: {{match.player}}<br>
    Date: {{match.date}}<br>
  </p>
  <table border=1 cellpadding=10>


    <th>Forat</th>
    {%for throw in match.throws.all %}
      <th>{{throw.hole.hole_number}}</th>
    {%endfor%}

  <tr>
    <td><strong>Puntuació</strong></td>
      {% for throw in match.throws.all %}
        <td>{{throw.score}}</td>
      {%endfor%}
  </tr>

  </table>

{% endblock %}




