{% extends 'basepage.html' %}
{% block content %}

<h1>{{player.name}}</h1>
  <p>
    Player number: {{player.number_of_player}}<br>
    Brithday: {{player.birthdate}}<br>
    Player State: {{player.stateOrProvince}}<br>
    City: {{player.city}}<br>
    Street: {{player.street}}<br>
    Zip code: {{player.zipCode}}<br>
    Telephone: {{player.telephone}}<br>
    Handicap: {{player.handicap}}<br>
  </p>
  <p>
  <ul>
    {% for match in player.matches.all %}
        <li><a href="{% url 'Match_detail' match.id   %}">
            {{ match.id }} -- {{ match.date }}</a></li>
    {% empty %}<li>Sorry, no matches for this player yet.</li>
    {% endfor %}
  </ul>
</p>
{% endblock %}
